/* Reset some default browser spacing */
body {
    margin: 0;
    padding: 0;
    font-family: serif;
    background-color: #93ff65;
    color: #000000;
}

/* Center the main content */
main {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
}

/* Headings */
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Paragraph text */
p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* List of reflection questions */
ol {
    padding-left: 1.2rem;
}

li {
    margin-bottom: 1rem;
    line-height: 1.5;
}
